@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebarnav>svg {
  fill: #000000;
  opacity: 0.4;
}

.sidebarnav.active>svg,
.sidebarnav:hover>svg {
  fill: #6236FF;
  opacity: 1;
}

.sidebarnav.active:before,
.sidebarnav:hover:before {
  width: 20px;
  height: 20px;
  border-radius: 0 40px 40px 0;
  left: -10px;
  background-color: #6236FF;
  display: inline-block;
  position: absolute;
  vertical-align: baseline;
  margin-right: 10px;
  content: '';
  filter: drop-shadow(25.0144px 0px 96.0553px rgba(85, 49, 251, 0.12)) drop-shadow(5.00288px 0px 15.609px rgba(85, 49, 251, 0.24));
}

.master-card {
  background-image: url('../src/assets/img/mastercard.png');
  background-size: cover;
  width: 339.2px;
  height: 204.12px;
}

balance-card {
  width: 138.14px;
  height: 204.12px;
}